<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pc/Selennium Automation Projects/APIAutomationFramework">
        <classes>
            <class name="org.example.tests.individual.TestCreateBooking">
                <methods>
                    <include name="testCreateBookingPost_Positive"/>
                    <include name="testCreateBookingPost_Negative"/>
                    <include name="testCreateBookingPost_Positive_Chinese"/>


                </methods>
            </class>
        </classes>
    </test>
</suite>